<section>
    <form (submit)="save($event)">
        <div class="area-text">
            <label>Novo contato</label>
            <input type="text" id="contact" name="contact" (input)="handleContact($event)" [value]="contact.name" />
        </div>
        <div class="area-btn">
            <button-action [titleButton]="titleButton"></button-action>
        </div>
        <h1>{{titleList}}</h1>
        <ul>
            <li (click)="clear($event)" *ngFor="let item of contactList; let i = index" value={{i}}>{{item.name}}</li>
        </ul>
    </form>
</section>