@import "../../styles.scss";
section {
    display: flex;
    color: $primary_text;
    label {
        margin-top: 14px;
        margin-right: 20px;
    }
    .area-text {
        display: flex;
        margin-bottom: 1.5rem;
    }
    .area-btn {
        display: flex;
        justify-content: flex-end;
        margin-left: 63px;
    }
    input {
        height: 28px;
        width: 300px;
        border-radius: 0;
        border: 1px solid $primary_text;
    }
}
